<h1>本当にアカウントを削除しますか？</h1>
<p>アカウントを削除すると、これまでに投稿したレビューやコメントはすべて削除されます。</p>
<p>※ 一度削除すると、元に戻すことはできません。</p>
<p>本当に削除してもよろしいですか？</p>

<!-- 削除しないボタン -->
<%= link_to "編集画面へ戻る", edit_user_path(@user.id) %>

<!-- 削除ボタン -->
<%= link_to "削除する", user_path(@user.id), method: :delete %>
