<div class="container mt-5">
  <h1 class="mb-4 text-center">About</h1>

  <div class="mb-3">
    <p>カデガジェ (Kadegaje) は、ユーザーが実際に使ってみた家電やガジェットについて、自由にレビューを投稿できるサイトです。</p>
    <p>使ってみてよかった製品や、お気に入りのアイテム、少し残念だった点を気軽にシェアしてみましょう。</p>
    <p>また、製品に対して最大5つ星の評価をつけることができ、他のユーザーのレビューと一緒に評価を参考にすることができます。</p>
    <p>さらに、実際に使用した製品の画像を投稿して、使用感や特徴を視覚的に伝えることもできます。これにより、他のユーザーがよりリアルな体験を感じ取ることができます。</p>
    <p>他のユーザーの投稿にコメントを残して、さらに詳しい情報を得ることもできます。</p>
    <p>気になる製品があれば、レビューと共に画像をチェックして、購入の参考にしてください。</p>
  </div>

  <div class="text-center">
    <%= link_to "トップページへ", root_path, class: "btn btn-primary" %>
  </div>
</div>