<% if user_signed_in? %>
  <h2>こんにちは、<%= current_user.display_name %>さん！</h2>
<% end %>
<h1>ようこそカデガジェへ！</h1>
<p>カデガジェは、家電やガジェットの実際の使用感を自由にレビューできるサイトです。</p>
<p>アカウント登録していない方でも、他のユーザーのレビューを閲覧することができます。</p>
<p>レビューやコメントを投稿するには、簡単なアカウント登録が必要です。</p>

<!-- タイトル検索 #######################################-->
<!-- ジャンル一覧 bootstrapのカードの予定 シンプルにしたい ##############################-->


<p>ご利用にあたって：</p>
<ul>
  <li>過激な表現や誹謗中傷、関係のない内容の投稿はお控えください。</li>
  <li>他者の著作権を尊重し、無断で公式名を名乗ることや、他者のコンテンツを無断転載しないでください。</li>
  <li>レビューはあなた自身の体験に基づいたものを投稿してください。</li>
</ul>

