@use '~bootstrap/scss/bootstrap';

// GoogleFonts用
body {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// カードを動かす
.genre-card-hover:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
  transition: all 0.2s ease-in-out;
}

.navbar {
  background-color: rgb(235, 235, 250);
}

// フラッシュメッセージ
.flash-notice {
  background-color: aquamarine;
  line-height: normal;
  padding: 30px 30px 30px 30px;
  text-align: center;
}

.flash-alert {
  background-color: rgb(248, 214.6, 217.8);
  line-height: normal;
  padding: 30px 30px 30px 30px;
  text-align: center;
}

// エラーメッセージ
.errors {
  background-color: rgb(248, 214.6, 217.8);
  color: crimson;
}

// スクロールボタン
.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(99, 230, 190, 0.6);
  color: white;
  padding: 8px 0px 0px 14px;
  //丸く
  border-radius: 50%;
  text-decoration: none;
  display: none;
  z-index: 999;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

// ホバーさせる
.scroll-top-btn:hover {
  //上に5px
  transform: translateY(-5px);
  background-color: rgb(99, 230, 190,);
  color: white;
}
